<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
  <main id="app">
    <div class="main-wrapper row">
    
      <div class="container row dark-mode">

        <!-- list user -->
        <div class="list">

          <div class="row user">
            <div class="profile row">
              <img src="img/avatar_io.jpg" alt="">
            </div>

            <div class="description row">
              <nav class="menu">
                <ul class="row">
                  <li>
                    <i class="fa-solid fa-circle-notch"></i>
                  </li>

                  <li>
                    <i class="fa-solid fa-message"></i>
                  </li>

                  <li>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                  </li>
                </ul>
              </nav>
            </div>

          </div>

          <!-- notification -->
          <div class="row notification">
            
            <div class="bell row">
              <i class="fa-solid fa-bell-slash"></i>
            </div>

            <div class="text-notification">
              <h4>Ricevi notifiche di nuovi messaggi</h4>
              <span>Attiva modifiche desktop</span>
            </div>
          </div>

          <!-- search -->
          <div class="search row">
            <div class="magniguying-search row">
              <div>
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
              <div>
                <input type="text" placeholder="Cerca o inizia una nuova chat">
              </div>
            </div>
          </div>

          <!-- users list -->
          <div class="users-list">

            <div v-for="(user, index) in contacts" @click="selectChat(index)" class="row users-chat">
              <div class="profile row">
                <img :src="user.avatar" alt="">
              </div>

              <div class="row name">
                <div>
                  <h3>{{user.name}}</h3>
                  <span> {{user.messages[user.messages.length-1].message}}</span>
                </div>
                <div class="hour">16:05</div>
              </div>
            </div>

            

          </div>

        </div>
        <!-- end list user -->


        <!-- display chat -->
        <div class="display-chat">

          <div class="row user">
            <div class="profile row">
              <div class="avatar">
                <img src="img/avatar_1.jpg" alt="">
              </div>

              <div>
                <h3>Michele</h3>
                <span>Ultimo accesso oggi alle 16:26</span>
              </div>
            </div>

            <div class="description row">
              <nav class="menu">
                <ul class="row">
                  <li>
                    <i class="fa-solid fa-magnifying-glass"></i>
                  </li>

                  <li>
                    <i class="fa-solid fa-paperclip"></i>
                  </li>

                  <li>
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

          <div
            class="chat">
            <div v-for="messageText in contacts[userChat].messages"
            :class="{'sent':messageText.status === 'sent', 'left':messageText.status === 'received'}">
              <div class="msg  right" v-if="messageText.status === 'sent'">
                <div class=" chat-right msg-chat ">
                  <p>{{messageText.message}}</p>
                  <p class="number">{{messageText.date}}</p>
                </div>
              </div>

              <div class="msg left" v-if="messageText.status === 'received'">
                <div class="msg-chat chat-left">
                  <p>{{messageText.message}}</p>
                  <p class="number">{{messageText.date}}</p>
                </div>
              </div>
            </div>
            
           
          </div>

          <div class="row user keyboard">
            <div>
              <i class="fa-regular fa-face-smile"></i>
            </div>

            <div class="text-chat">
              <input type="text" placeholder="Scrivi un messaggio" v-model="newMsg" @keyup.enter="sendMsg()">
            </div>

            <div>
              <i class="fa-solid fa-microphone"></i>
            </div>
          </div>

        </div>

        <!-- end display chat -->
    



  

    



      </div>


    </div>
    
    
  </main>
  


  <script src="js/script.js"></script>
</body>
</html>